* {/* changes all fonts to arial, san-serif */
    font-family: Bookman, URW Bookman L, serif;
    }
    
body { /* Bakcground image */
    background-image: url("back3.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 15%;
    text-align: center;
}

img.cardanimation{
  width:600px;
  height: auto;
}
#hometitle{
    color:white;
}

#homeoptions{
    position:relative;
    bottom:150px;
}
.optionlink{
    padding:20px;
    font-size: 50px;
    text-decoration: none;
}

a.optionlink:link{
    background-color: rgba(177, 100, 100, 0.685);
    color:rgb(11, 46, 11)
 
}

a.optionlink:hover{
    background-color: rgba(177, 100, 100, 0.911);
    color:rgb(11, 46, 11);
}

a.optionlink:visited{
    background-color: rgba(177, 100, 100, 0.685);
    color:rgb(11, 46, 11);
}
#links{
    
    margin:auto;
    padding: 20px;
    justify-content: center;
    
}

a.projectlink:link{
    background-color: rgb(144, 148, 144);
    color:rgb(11, 46, 11);
}
a.projectlink:hover{
    background-color: rgba(177, 100, 100, 0.685);
    color:rgb(11, 46, 11);
}

a.projectlink:visited{
    background-color: rgba(177, 100, 100, 0.685);
    color:rgb(11, 46, 11);
}

#cardtable{
    background-image: url(cardtable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width: 800px;
    margin:auto;
    text-align: center;
   
}

a.betlink:link{
    text-decoration: none;
    background-color: rgba(177, 100, 100, 0.685);
    color:rgb(11, 46, 11);
    font-size: 50px;
}

a.betlink:visited{
    background-color: rgba(177, 100, 100, 0.685);
    color:rgb(11, 46, 11);
    font-size: 50px;
}

a.betlink:hover{
    background-color: rgba(177, 100, 100, 0.966);
    color:rgb(11, 46, 11);
    font-size: 50px;
}


.betdiv{
   
    position:relative;
    top:75px;
}
.betamount{
    color:rgb(13, 51, 13);
    padding:15px;
    width:760px;
    background-color: rgba(177, 100, 100, 0.685);
    position:relative;
    top:75px;
    border:5px solid darkgreen;
   
}
a.button:link{
    text-decoration: none;
    font-size:30px;
    color:rgb(13, 51, 13);
    
}
a.button:hover{
    background-color: rgb(177, 100, 100);
}

/* rafi style */

#title{
	color: white;
	text-align: center;
	padding: 2%;
}

html,body{  /* creates no margins or padding for whole page so the entire lenght can be used */
margin:0; 
padding:0; 
height:100%; 
width:100%; 
}


#main{ /* main div block formatting: size and borders */
	margin: auto;
	width: 1200px;
	height: 900px;
	border: 4px white;
	border-style: solid;
	background-color: #1D6139;
}

.options{ 
	width: 165px;
	height: 20px;
	font-weight: bold;
    background-color: rgba(177, 100, 100, 0.966);
	color: white;
	border: 2px solid white;
	text-align: center;
	margin: 0%;
}

div.options a{ 
	display: none;
	text-decoration: none;  /* suppress normal link underline */
	background-color:rgba(177, 100, 100, 0.664);  /* prevent inheriting menu colors */
	color: black;
	border-top: 2px solid gray; /* give each item a top border */
	width: 10em
}				 
div.options:hover a{
	background-color:rgba(177, 100, 100, 0.664);
	display: block;
}

#seperate{ /* columns div to create flex box to create multi-column div; also formatting for size and margins */
	float:left;
	display: flex;
	width: 600px;
	margin-right:0;
	position: relative; 
	left: 250px;

}	

#player{
	display: flex;
	column-gap:5%;
	position: relative; 
	top: 400px;
	left: -100px;
	
}

#seperate2{ /* columns div to create flex box to create multi-column div; also formatting for size and margins */
	float:left;
	display: flex;
	width: 600px;
	margin-right:0;
	position: relative; 
	left: 200px;
}

#dealer{
	display: flex;
	column-gap:5%;
	position: relative; 
	top: 400px;
	left: -150px;
}

.container{
  position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: draw 1.5s ease-in forwards;

}

.container2{
  position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: draw2 1.5s ease-in forwards;

}

.container3{
  position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: draw3 1.5s ease-in forwards;

}

.containerstand{
  position: absolute; 
	top: 563px;
	left: 1200px;
	width: 73px; 
	height: 104px;
  background: none;
}

.containerreveal{
  position: absolute; 
	top: 563px;
	left: 782px;
	width: 73px; 
	height: 104px;
  background: none;
}

.containerreveal2{
  position: absolute; 
	top: 563px;
	left: 867px;
	width: 73px; 
	height: 104px;
  background: none;
}

.containerdraw{
  position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: draw4 1.5s ease-in forwards;

}

.flip{
	position: relative; 
	top: 0;
	left: 0;
	width: 73px; 
	height: 104px;
	transform-style: preserve-3d;
	transition: all 2s ease;
}

.flip2{
	position: relative; 
	top: 0;
	left: 0;
	width: 73px; 
	height: 104px;
	transform-style: preserve-3d;
	-webkit-animation: drawstand 5s ease forwards;
	transition: all 2s ease;
}

.flip3{
	position: relative; 
	top: 0;
	left: 0;
	width: 73px; 
	height: 104px;
	transform-style: preserve-3d;
	-webkit-animation: drawstand 5s ease forwards;
	transition: all 2s ease;
}

.flip:hover{
  transform: rotateY(180deg);
}

#origin{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("backofcard.png");
	color: #000;
}

#backsidecard{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("7d.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

@-webkit-keyframes draw {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(-170%);
	}
}

@-webkit-keyframes draw2 {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(-45%);
	}
}

@-webkit-keyframes draw3 {
	
	100%{
		-webkit-transform: translateY(-116%) translateX(-391%);
	}
}

@-webkit-keyframes draw4 {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(525%);
	}
}

.staticdeck{
	position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
	background-image: url("backofcard.png");
}

#backsidecard2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("4c.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

#backsidecard3{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("9c.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

#backsidecard4{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("4h.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

#backsidecardstand{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("5s.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

#backsidecardreveal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("7d.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

#backsidecardreveal2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("4c.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}

@-webkit-keyframes drawstand {
	
	100%{
		-webkit-transform: rotateY(180deg);
	}
}

#position{
	position: absolute;
	top: 115;
	left: 0;
}


/*DEAL ANIMATIONS*/

/*draw6*/
.containerrevealfirst{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawfirst 1.5s ease-in forwards;
}

.flipfirst1{
	position: relative; 
	top: 0;
	left: 0;
	width: 73px; 
	height: 104px;
	transform-style: preserve-3d;
	-webkit-animation: drawfirst1 5s ease forwards;
	transition: all 2s ease;
}

#backsidecardrevealfirst{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("6h.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}


@-webkit-keyframes drawfirst {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(-392%);
	}
}


@-webkit-keyframes drawfirst1 {
	
	100%{
		-webkit-transform: rotateY(180deg);
	}
}
/*end draw 6*/

/*draw3*/
.containerrevealsecond{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawsecond 1.5s ease-in forwards 2s;
}

.flipsecond2{
	position: relative; 
	top: 0;
	left: 0;
	width: 73px; 
	height: 104px;
	transform-style: preserve-3d;
	-webkit-animation: drawsecond2 5s ease forwards 2s;
	transition: all 2s ease;
}

#backsidecardrevealsecond{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("3c.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}


@-webkit-keyframes drawsecond {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(-280%);
	}
}


@-webkit-keyframes drawsecond2 {
	
	100%{
		-webkit-transform: rotateY(180deg);
	}
}

/*end draw 3*/

/*draw 8 dealer*/
.containerrevealthird{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawthird 1.5s ease-in forwards 4s;
}

.flipthird3{
	position: relative; 
	top: 0;
	left: 0;
	width: 73px; 
	height: 104px;
	transform-style: preserve-3d;
	-webkit-animation: drawthird3 5s ease forwards 4s;
	transition: all 2s ease;
}

#backsidecardrevealthird{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	background-image: url("8s.png");
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}


@-webkit-keyframes drawthird {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(296%);
	}
}


@-webkit-keyframes drawthird3 {
	
	100%{
		-webkit-transform: rotateY(180deg);
	}
}

/*end draw 8*/

/*draw hidden dealer*/


.containerhidden1{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawhiddencard 1.5s ease-in forwards 6s;
}

@-webkit-keyframes drawhiddencard {
	
	100%{
		-webkit-transform: translateY(-228%) translateX(406%);
	}
}

/*end hidden draw*/


/*Shuffle(fake)*/

.containerhidden2{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawshuffle 1.5s ease-in forwards infinite alternate;
}

@-webkit-keyframes drawshuffle {
	
	0%{
		-webkit-transform: translateX(0%);
	}
	
	50%{
		-webkit-transform: translateX(-200%);
	}
	
	100%{
		-webkit-transform: translateX(-400%);
	}
}


.containerhidden3{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawshuffle2 1.5s ease-in forwards infinite alternate;
}

@-webkit-keyframes drawshuffle2 {
	
	0%{
		-webkit-transform: translateX(0%);
	}
	
	50%{
		-webkit-transform: translateX(-125%);
	}
	
	100%{
		-webkit-transform: translateX(-250%);
	}
}


.containerhidden4{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawshuffle3 1.5s ease-in forwards infinite alternate;
}

@-webkit-keyframes drawshuffle3 {
	
	0%{
		-webkit-transform: translateX(0%);
	}
	
	50%{
		-webkit-transform: translateX(125%);
	}
	
	100%{
		-webkit-transform: translateX(250%);
	}
}


.containerhidden5{
   position: absolute; 
	top: 800px;
	left: 900px;
	width: 73px; 
	height: 104px;
  background: none;
  -webkit-animation: drawshuffle4 1.5s ease-in forwards infinite alternate;
}

@-webkit-keyframes drawshuffle4 {
	
	0%{
		-webkit-transform: translateX(0%);
	}
	
	50%{
		-webkit-transform: translateX(200%);
	}
	
	100%{
		-webkit-transform: translateX(400%);
	}
}

/*end*/

/*kush style*/

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px;
    
    
  }
  .header-button {
    display: flex;
    flex-flow: row nowrap;
    
  
  }
  .static-buttons {
    text-align: center;
    display: flex;
    float: left;
    border: 2px solid rgba(177, 100, 100, 0.685);
    margin: 20px;
    padding: 10px;
    background-color: rgba(177, 100, 100, 0.685);
  }
  
  .score-status {
    /* display: flex;
    flex-flow: nowrap; */
    position:relative;
    top:200px;
    border-top:5px solid darkgreen;
    border-bottom:5px solid darkgreen;
    margin: auto;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    width:1200px;
    background-color: rgba(177, 100, 100, 0.877);
    color:rgb(11, 46, 11);
  }
  .cards {
    text-align: center;
    border-style: solid;
    border-width: 5px;
    width:1200px;
    height: 900px;
    margin:auto;
    
    background-color:#1D6139 ;
  }
  
  .buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .butt {
    text-align: center;
    /* display: flex;
    flex-flow: nowrap; */
    border-style: solid;
    border-width: 5px;
    margin: 20px;
  }
  
  .description dt {
    font-weight: bold;
    display: flex;
    flex-flow: column nowrap;
  }
  

